.restaurantPage {
    padding: 20px;
    font-family: 'Arial, sans-serif';
}

.menuContainer {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li button {
    background: none;
    border: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 14px;
    cursor: pointer;
}

.menu ul li button:hover {
    background-color: #43080e;
    color: white;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.section.active {
    display: block;
}

.overviewContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overviewContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #43080e;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.overviewImage {
    max-height: 150px;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 75px;
    display: block;
}


.overviewDetails {
    width: 70%;
}

.overviewDetails h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #43080e;
}

.overviewDetails p {
    margin: 0 0 0 0;
    font-size: 16px;
    color: #555;
}

.overviewDetails .ratings p {
    font-size: 14px;
}

.overviewDetails a {
    color: #43080e;
    text-decoration: none;
}

.overviewDetails a:hover {
    text-decoration: underline;
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slideImage {
    width: 40%;
    height: auto;
    border-radius: 8px;
}

.cardsContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    align-items: center;
}

h2 {
    font-size: 1.4em !important;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #43080e;
    text-decoration: underline;
}

.rating {
    display: flex;
    flex-direction: column;
}

.score {
    font-size: 2.5em;
    color: #00aa00;
}

.stars {
    color: #00aa00;
    font-size: 1.2em;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.rating ul {
    list-style: none;
    padding: 0;
}

.rating li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.ratingStars {
    font-size: 1.2em;
    color: #00aa00;
}

.map img {
    width: 100%;
    border-radius: 8px;
}

.map {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card p {
    margin: 5px 0;
}

.card span {
    margin-right: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.modalImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.viewPhotosButton {
    background: none;
    border: none;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    width: 50%;
    margin-left: 110px;

}

.viewPhotosButton:hover {
    background-color: #43080e;
    color: white;
}

.card2 {
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    align-items: center;
    margin-top: 20px;
}

.gallery {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image-item {
    display: flex;
    justify-content: center;
}

.menuGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    padding-left: 40px;
}

.menuItem {
    flex: 1 1 calc(33.333% - 20px);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
    height: 200px;
    margin: 10px;
}

.menuItemImage {
    width: 30%;
    height: auto;
    border-radius: 4px;
}

.menuItemDetails {
    width: 80%;
}

.menuItemDetails h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #43080e;
}

.menuItemDetails p {
    margin: 5px 0;
    color: #555;
}

.menuItemDetails .price {
    font-weight: bold;
    color: #000;
}

.type {
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #43080e;
    text-align: left;
    text-decoration: none;
}

.reviewsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.addReviewButton {
    background-color: #43080e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.addReviewButton:hover {
    background-color: #5a0e2c;
}
