/* Header.module.css */
.img {
    height: 90px;
    width: 90px;
    padding: 10px;
    margin-left: 30px;
}

.header {
    flex-grow: 1;
}

.appBar {
    background-color: #43080e !important;
}

.customTypography {
    flex-grow: 1 !important;
    text-align: center !important;
    font-size: 40px !important;
    font-family: 'Sumac Regular', 'Comic Sans', cursive !important;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 1) !important;
}

.customFormControl {
    margin: 1rem;
    width: 150px;
    height: 40px;
    color: white !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.customFormControl:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.customSelect {
    width: 100%;
    padding: 8px 12px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333;
}

.customSelect option {
    padding: 8px;
    font-size: 16px;
}

.customSelectWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.customSelectWrapper:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}

/* Dropdown Menu Styling */
.MuiPaper-root {
    background-color: #f8f9fa !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
}

.MuiMenuItem-root {
    font-size: 1em !important;
    padding: 10px 20px !important;
    display: flex;
    align-items: center;
    color: #333 !important;
}

.MuiMenuItem-root:hover {
    background-color: #43080e !important;
    color: #fff !important;
}

/* Icon Button */
.MuiIconButton-root {
    font-size: 40px !important;
    padding-left: 2 !important;
}
