/* ProfileDetails.module.css */
.profileDetails {
    text-align: center;
    margin-bottom: 20px;
}

.profileDetails h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #43080e;
}

.profileDetails p {
    margin: 5px 0;
    color: #757575;
    font-size: 16px;
}

.profileDetails p strong {
    color: #43080e;
}
